.title, .heading
{
	color: #007165;
}

.title
{
	font-size: 230%;
}

.heading
{
	font-size: 150%;
	clear: both;
	text-align: center;
	width: 100%;
	border-top:  solid #007165 2px;
	border-bottom:  solid #007165 2px;
	background-color: #eeefdb;
}

.image-left
{
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.image-right
{
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

/* styles for PrintTableFromSQLResult */

.stat_table
{
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-spacing: 0;
}
.stat_header_row
{
	color: white;
	background-color: #007165;
}
.stat_header_cell
{
	border-style: solid;
	border-width: 1px 0 0 1px;
	padding: 0 0.5em;
}
.stat_data_row_odd
{
	background-color: #f3f4e3;
}
.stat_data_row_even
{
	background-color: #e9eada;
}
.stat_data_cell
{
	border-style: solid;
	border-width: 1px 0 0 1px;
	padding: 0 0.5em;
}

/* for page on mobile device (small screen) */

@media handheld, screen and (max-device-width: 480px)
{
	.image-left
	{
		float: none;
		margin-right: 0;
		margin-bottom: 0;
	}
}