html{
    background-image: url('../static/image.png');
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;		 
    letter-spacing: -1px;		
    overflow-y: auto;
    background-color: transparent; 
}

#login.back-rectangle{
    background-color: #8E978D;
    font-color: #FFFFFF;
    position: absolute;
    display: block;
    height: 4em;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index:2;
}

.left_rectangle{
    position: relative;
    background-color: #8E978D;
    display: block;
    height: 1.5em;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
    color: white;
    font-size:2em;
    margin-bottom:.5em;
} 





#logo{
    position:absolute;
    display: block;
    left: 0%;
    top: -.9em;
    font-size:4em;
    color: white;
    z-index:99;
}

h2 {
    font-size:2em;
    color: #8E978D;
}


#logout{
    position:absolute;;
    right:1%;
    top:2.5em;
    color:white;
}

#left_scroll{
    position:absolute;
    left:1%;
    top:3em;
    width:16%;
    height:85%;
}

#right_scroll{
    position:absolute;
    right:1%;
    top:5em;
    width:80%;
    height:85%;
    overflow-y:scroll;
    box-shadow: 3px 3px 7px #8E978D;
    background-image: url('../static/groovepaper.png');
    background-repeat: repeat;
}


#about_me img{
position:relative;
//left:1em;
top:.5em;
height:40%;
-moz-border-radius: 6px;
border-radius: 6px;
}

#name{
position:absolute;
left:18em;
top:1em;
}


#about_me input{
position:relative; 
border-radius: 6px;
  border: 2px solid #97C4AD; 
  -webkit-box-shadow: 
  inset 0 0 2px  #97C4AD,
  0 0 2px #BFEDBE; 
  -moz-box-shadow: 
  inset 0 0 2px  #97C4AD,
  0 0 2px #BFEDBE; 
  box-shadow: 
  inset 0 0 2px  #97C4AD;
  0 0 2px #97C4AD; 
  padding: 6px;
  width:90%;
top:15em;
font-size:2em;
  background: white;
  margin: 0 0 5px 0;}

#blurb {
    resize: none;
    position:absolute;
    bottom: 12%;
    left:2%;
    
    border-radius: 6px;
    border: 2px solid #97C4AD; 
    -webkit-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    -moz-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    box-shadow: 
    inset 0 0 2px  #97C4AD;
    0 0 2px #97C4AD; 

    width:95%;
    height:40%;
    font-size:2em;
    background: white;
    margin: 0 0 5px 0;
}


#blurb_save{
    border-radius: 6px;
    border: 2px solid #97C4AD; 
    -webkit-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    -moz-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #447294; 
    box-shadow: 
    inset 0 0 2px  #97C4AD;
    0 0 2px #97C4AD; 
    padding: 6px;
    width:4em;
    height: 2.5em;
    background: white;
    margin: 0 0 5px 0;

    position: absolute;
    left: 2%;
    bottom: 5%;

}

#blurb_saved {
    position: absolute;
    left: 10%;
    bottom:3%;	
}

.saved {
    color: #317F58;
}


#add h1{
    position:relative;
    left:1em;
    color:#8E978D;
}


#add textarea{
    resize: none;
    position:relative;
    left:2em;
    
    border-radius: 6px;
    border: 2px solid #97C4AD; 
    -webkit-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    -moz-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    box-shadow: 
    inset 0 0 2px  #97C4AD;
    0 0 2px #97C4AD; 
    padding: 6px;
    //width:40%;
    //height:7em;
    font-size:2em;
    background: white;
    margin: 0 0 5px 0;

}

#create {
    border-radius: 6px;
    border: 2px solid #97C4AD; 
    -webkit-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    -moz-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #447294; 
    box-shadow: 
    inset 0 0 2px  #97C4AD;
    0 0 2px #97C4AD; 
    padding: 6px;
    width:4em;
    height: 2.5em;
    background: white;
    margin: 0 0 5px 0;

    position: relative;
    left: 5em;
    top: -1.3em;
}


#add_title {
    width:30%;
    height:1.3em;
}

#add_description {
    width:50%;
    height:6em;

}

#add_error {
    positon:relative;
    left:5em;
    color:#BF3030;
}

#title_note {
    position:relative;
    left:24em;
    top:-2.5em;
    color:#8E978D;
}



#folio_description {
    resize: none;


    
    border-radius: 6px;
    border: 2px solid #97C4AD; 
    -webkit-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    -moz-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    box-shadow: 
    inset 0 0 2px  #97C4AD;
    0 0 2px #97C4AD; 
    padding: 6px;
    width:80%;
    height:7em;
    font-size:2em;
    background: white;
    margin: 0 0 5px 0;
    
}

#contents #folio_link{
display:block;
color:#8E978D;
background-color:#CDF2D6;

}

#contents h2{
display:block;
color:#CDF2D6;
background-color:#8E978D;
padding:0px;
margin:0px;
}

#folio_save {
    
    

    border-radius: 6px;
    border: 2px solid #97C4AD; 
    -webkit-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    -moz-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #447294; 
    box-shadow: 
    inset 0 0 2px  #97C4AD;
    0 0 2px #97C4AD; 
    padding: 6px;
    width:4em;
    height: 2.5em;
    background: white;
    margin: 0 0 5px 0;

}

#folio_saved {
    position:RELATIVE;
    left:15em;
    top:-20em;
}



#folio_delete {
    border-radius: 6px;
    border: 2px solid #BF3030; 
    -webkit-box-shadow: 
    inset 0 0 2px  #BF3030,
    0 0 2px #BFEDBE; 
    -moz-box-shadow: 
    inset 0 0 2px  #BF3030,
    0 0 2px #447294; 
    box-shadow: 
    inset 0 0 2px  #BF3030;
    0 0 2px #BF3030; 
    padding: 6px;
    width:9em;
    height: 4em;
    background: white;
    margin: 0 0 5px 0;

    

}

#delete_note {
    color: #BF3030;

    height:2em;
}

#projects {
    position:relative;
    left:3em;

}

#add_proj_error {
    positon: relative;
    /*top: 5em;
    /left: 10em;*/
    color: #BF3030;
}


.editProj {
    position:relative;
    left:1em;

    border-radius: 6px;
    border: 2px solid #97C4AD; 
    -webkit-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #BFEDBE; 
    -moz-box-shadow: 
    inset 0 0 2px  #97C4AD,
    0 0 2px #447294; 
    box-shadow: 
    inset 0 0 2px  #97C4AD;
    0 0 2px #97C4AD; 
    padding: 6px;
    width:7em;
    height: 2.5em;
    background: white;
    margin: 0 0 5px 0;

}
