html{
    background-image: url('../static/image.png');
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;		 
    letter-spacing: -1px;		
    overflow-y: auto;
    background-color: transparent; 
}

#login.back-rectangle{
    background-color: #8E978D;
    font-color: #FFFFFF;
    position: absolute;
    display: block;
    height: 4em;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index:2;
}

.left_rectangle{
    position: relative;
    background-color: #8E978D;
    display: block;
    height: 1.5em;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
    color: white;
    font-size:2em;
    margin-bottom:.5em;
}  



#logo{
    position:absolute;
    display: block;
    left: 0%;
    top: -.9em;
    font-size:4em;
    color: white;
    z-index:99;
}

#logout{
    position:absolute;;
    right:1%;
    top:2.5em;
    color:white;
}

#left_scroll{
    position:absolute;
    left:1%;
    top:5em;
    width:16%;
    height:85%;
}

#right_scroll{
    position:absolute;
    right:1%;
    top:5em;
    width:80%;
    height:85%;
    overflow-y:scroll;
    box-shadow: 3px 3px 7px #8E978D;
    background-image: url('../static/groovepaper.png');
    background-repeat: repeat;
}

#user_image{
    
    display:block;
    position:relative;
    left:40%;
    height: 5em;
    width:20px;
    background-color:#8E978D;
    z-index:1000;
}