<!doctype HTML>
<html>

<head>
<link rel="stylesheet" type="text/css" href="../static/login.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body> 
  
<div id="rectangle"><input type="hidden" value="my text" name="my_hidden_field/">
</div>


  <div id="login" class="back-rectangle">
      <h1 id="logo">Folio</h1>
      <form name="login_form" action="" method="POST">
    <!--name="input" action="" method="POST"-->
      <div id="login_email">
	Username<br><input type="text" class = "typing" name="login" placeholder="Username"><br>
      </div>

      <div id="login_pass">
	Password<br> <input type="password" class = "typing" name="password" placeholder="Password">
      </div>
      
      <div id="login_submit">
	<input type="submit" name="button" value="Login">
      </div>
  </form>
  </div>
  
<div class="signup_rectangle"></div>
  
<div id="signup" >
  <h2>Need an account?
      <br>&nbsp;Sign up for free!</h2>
  <form name="register_form" action="" method="POST">
  <span id="first_name"><input type="text" name="first_name" placeholder="First Name"> </span>  
  <span id="last_name"><input type="text" name="last_name" placeholder="Last Name"> </span>  
  <span id="new_email"><input type="text" name="new_email" placeholder="Username"></span>   
  <span id="new_password"> <input type="password" name="new_password" placeholder="Password"></span>   
  <span id="signup_button"> <input type="submit" name="button" value="Create my Folio!"> </span>
</form>
</div>

<div id="contents">
  <h1>Folio is for developers <img id="dev"height=50px width=50x; src="../static/dev.png"></h1> 
  <p>Connect Folio with your Github account and share only<br> the projects you want to share - in an aesthetically pleasing way.</P> 
  
  <h1>Folio is for artists <img id ="paint" height=60px width=50px src="../static/paintbrush.png"></h1>
  Share your masterpieces with the world.
  
  <h1>Folio is for musicians <img id="music"height=50px width=50px src="../static/music.png"> </h1>
  <p>Upload your latest recordings and let people know you're out there.<p>
    
    <h1 style='font-size: 2.5em;'>Folio is for you.</h1>
    
</div>

<div id="bottom">
  <p>About</p>
</div>

</body>
</html>

