<!doctype HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/user.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>

<body> 
  
<div id="rectangle"><input type="hidden" value="my text" name="my_hidden_field/">
</div>

<div id="login" class="back-rectangle">
      <h1 id="logo">Folio</h1>


      </div>
<div id="left_scroll">
<div id="about_select" class="left_rectangle"> <center><h1>About Me</h1></center></div>
<div id="dev_select" class="left_rectangle"> <center><h1>Developer</h1></center></div>
<div id="art_select" class="left_rectangle"> <center><h1>Artist</h1></center></div>
<div id="music_select" class="left_rectangle"> <center><h1>Musician</h1></center></div>
<br>
<div id="add_folio" class="left_rectangle"><center><img src="../static/plus.png" width=20% height=100%></img></center></div>
</div>

<div id="right_scroll">

</div>


</body>
</html>

